*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#000000;
}
.wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1520px;
}

/* ===start header=== */

header{
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    /* border-bottom: #ffffff solid 20px; */
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between; 
}

ul li a{
    gap:20px;
    direction: none;
    color: #fff;
    text-decoration: none;
}
ul li a:hover{
    text-decoration:5px underline white ;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.nav-actions a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
.button{
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}
/* ===end header === */


/* ===start footer=== */
footer{
    background-color: #1a1a1a;
    padding: 30px;
    list-style: none;
}
.color li a{
    color: #fff;
    text-decoration: none;
    line-height: 30px;
}
.color-1 p{
    margin-top: 40px;
    color: #fff;
}
.color-1 h2 {
    color: #fff;
}
.color h1{
    font-size: 17px;
    color: #fff;
}
.row{
    display: flex;

    align-items: center;
    justify-content:space-between;
}
/* ===end footer=== */